@charset "utf-8";
/* CSS Document */
h1{text-align:center;
}


body{
	background-color:#FFC;
}

table td{
	text-align:center;
	border:1px #000099 dotted;

}

table .sin{
	border:0;
}

table .bot{
	padding:0 5px;
	display:inline;
	border:0;
}

.centrado{
	text-align:center;
}
.primera_fila{
	
	text-decoration:underline;
	background-color:#FC3;
	font-size: 20px;
	color:darkblue;
	font-weight: bold;

}

